services:
  - type: web
    name: mercur-backend
    env: node
    plan: free
    buildCommand: yarn install && yarn build
    startCommand: yarn start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 9000

      # # === CORS CONFIG ===
      # - key: STORE_CORS
      #   value: http://localhost:3000
      # - key: ADMIN_CORS
      #   value: http://localhost:9000
      # - key: VENDOR_CORS
      #   value: http://localhost:5173
      # - key: AUTH_CORS
      #   value: http://localhost:9000,http://localhost:5173,http://localhost:3000

      # # === DATABASE & CACHE ===
      # - key: DATABASE_URL
      #   value: postgres://avnadmin:AVNS_tWDdUOrMhqKeqA4UTKj@pg-14876cc9-perezluisues-3801.c.aivencloud.com:17896/mercurjs?sslmode=no-verify
      # - key: REDIS_URL
      #   value: redis://localhost:6379
      # - key: DB_NAME
      #   value: mercurjs

      # # === SECRETS ===
      # - key: JWT_SECRET
      #   value: supersecret
      # - key: COOKIE_SECRET
      #   value: supersecret

      # # === ALGOLIA ===
      # - key: ALGOLIA_APP_ID
      #   value: XXX
      # - key: ALGOLIA_API_KEY
      #   value: supersecret

      # # === STRIPE ===
      # - key: STRIPE_SECRET_API_KEY
      #   value: supersecret
      # - key: STRIPE_CONNECTED_ACCOUNTS_WEBHOOK_SECRET
      #   value: supersecret

      # # === RESEND ===
      # - key: RESEND_API_KEY
      #   value: supersecret
      # - key: RESEND_FROM_EMAIL
      #   value: onboarding@resend.dev

      # # === TALKJS ===
      # - key: VITE_TALK_JS_APP_ID
      #   value: xxx
      # - key: VITE_TALK_JS_SECRET_API_KEY
      #   value: xxx
